<%# このファイルで記述しているフォームのパーツは他のView で呼び出せる%>

<%# 入力した値が、バリデーションにひかかったときにエラーメッセージを表示させる%>
<% if flash[:error_messages] %>
<div class="alert alert-danger">
    <%# :error_messages の配列に格納された値のぶんだけmsg オブジェクトが作成される%>
    <% flash[:error_messages].each do |msg|%>
    <li><%= msg %></li>
    <% end %>
</div>
<% end %>

<%# form_for helper の第一引数にboard ブロック引数にf (ブロックビルダーオブジェクト)を設定する%>
<%= form_for board do |f|%>

<div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, class: "form-control", rows: 10 %>
</div>

<%= f.submit '保存', class: "btn btn-primary"%>

<%end%>
