<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto boards__linkBox">
        <!-- 第二引数にpath を指定することでリンクを生成してくれる-->
        <%= link_to '一覧', new_board_path, class: 'btn btn-outline-dark' %>
        <%= link_to '編集', edit_board_path, class: 'btn btn-outline-dark' %>
    </div>
</div>

<!-- flash 変数に値が入っていた場合、フラッシュメッセージを表示する-->
<% if flash[:notice] %>
<div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%# _board.html.erbを呼び出して、@board をファイル名と同名のローカル変数に格納してわたしている%>
<%= render partial: 'board', object: @board %>

<div class="p-comment_list">
    <div class="p-comment_listTitle">コメント</div>
    <!-- @board.comments が値を取得する限りレンダリングが繰り返される-->
    <%= render @board.comments %>
</div>

<%# _comment_form.html.erbを呼び出して、@comment をローカル変数に格納してわたしている%>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
